.array_list {
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    gap: 1px;
    margin-left: 5px;
}

.box {
    /* background-color: red; */
    /* border: 2px solid black; */
    /* width: ; */
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
    padding: 2px 2px;
    margin: 1px 0;
    /* gap: 5px; */
}

.compare {
    background-color: yellow;
}

.notCompared {
    background-color: red;
}
